---
import Cta from "./Cta.astro";

const {
  eyebrow,
  headline,
  headlineAccent,
  headlineTagline,
  ctaLabel,
  ctaUrl,
} = Astro.props;
---

<section class="relative w-full pt-48 pb-24 lg:pt-56 lg:pb-32">
  <div class="max-w-[1440px] mx-auto px-6 lg:px-12">
    <div class="max-w-5xl mx-auto flex flex-col items-center text-center">
      {
        eyebrow && (
          <p class="text-[10px] font-medium uppercase tracking-[0.3em] text-black/30 mb-8 reveal">
            {eyebrow}
          </p>
        )
      }

      <h1 class="text-6xl sm:text-7xl lg:text-[120px] font-medium leading-[0.99] tracking-tighter text-black mb-16 reveal">
        {headline}<br />
        <span class="italic font-normal text-black/60">{headlineAccent}</span>
        {
          headlineTagline && (
            <span class="block text-2xl lg:text-4xl font-serif italic text-black/30 tracking-normal mt-8">
              {headlineTagline}
            </span>
          )
        }
      </h1>

      <div
        class="reveal flex flex-wrap items-center justify-center gap-10 mb-24"
      >
        <Cta text={ctaLabel} href={ctaUrl} invert={true} />
      </div>
    </div>
  </div>
</section>
